.bgGray {
  background-color: #131516;
}

.redHatDisp {
  font-family: "Red Hat Display", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.sideways {
  transform: rotateZ(-90deg);
}

.textBig {
  color: #566067;
  font-weight: 600;
}

.svg-container svg path {
  fill: #aca59a;
}
.svg-container:hover svg path {
  fill: #4392f1; /* Blue-300 color */
}

.textColor {
  color: #566067;
}

.spaceED {
  letter-spacing: 6px;
}

.navRight {
  font-family: "garet-book";
  color: #566067;
  font-weight: bold;
}

.offColor {
  color: #82a5eb;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.homeBg {
  background-image: url("Assets/44.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 20%;
  background-position-x: 50%;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0px;
    background: linear-gradient(to bottom,rgba(0,0,0, 0.8) 65%, rgba(19, 21, 22, 1));
  }
}

.bottomBg {
  background-image: url("Assets/32.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 20%;
  background-position-x: 50%;
  

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0px;
    backdrop-filter:grayscale(100%);
    background: linear-gradient(to top,rgba(19,21,22, 0.2), rgba(19, 21, 22, 1));
  }
}

#logo {
  filter: contrast(5%);
}