@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.bgGray {
    background-color: #131516;
  }

.bgGray2 {
    background-color: #222425;
  }
  
  .redHatDisp {
    font-family: "Red Hat Display", sans-serif;
  }
  
  .inter {
    font-family: "Inter", sans-serif;
  }
  
  .sideways {
    transform: rotateZ(-90deg);
  }
  
  .textBig {
    color: #566067;
    font-weight: 600;
  }
    
  .textColor {
    color: #566067;
  }
  
  .spaceED {
    letter-spacing: 6px;
  }
  
  .navRight {
    font-family: "garet-book";
    color: #566067;
    font-weight: bold;
  }
  
  .offColor {
    color: #82a5eb;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .homeBg {
    position: relative;
    background-image: url("../public/44.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-position-x: 50%;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 65%, rgba(19, 21, 22, 1));
    }
  }
  
  .bottomBg {
    position: relative;
    background-image: url("../public/32.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-position-x: 50%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      backdrop-filter:grayscale(100%);
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 65%, rgba(19, 21, 22, 1));
    }
  }
  
  #logo {
    filter: contrast(5%);
  }